{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Please select a user from the list below:</p>
  <ul>
  {% for user in users %}
	<li><a href="/channel/{{ user.id }}">{{ user.user_name }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
