<!DOCTYPE html>
<html>
  <head>
	{% block head %}{% endblock %}
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
